
<!--<td class="centered"><%= user %></td>
<td id="name-<%= user.id %>"><%= user.name %></td>
  <%= link_to edit_admin_status_path(status), remote: true do %>
    <img id="sid-<%= status.id %>" class="bottom" src="../../images/admin/edit.png">
  <% end %>
</td> -->
<p> name:<%=  @user.name %></p>