
<div style="  height: 100px;  font-family: Fantasy;" class="pb -5">
<center>
  <h4> Patient list :</h4><br>

    <table class="table w   table-primary p   ">
          <thead>
            <tr>
              <th><%@patients.each do |patient| %>
                  <h3>patient name:<%= patient.name %>,Appointments list</h3></th>
            </tr>
          </thead>
        <tbody class="p">
          <tr>
          <% @patients.each do |patient| %>
            <% patient.appointments.each do |appointment| %>
            </tr>
        <tr>
          <th >Start Date</th>
          <th>End Date</th>
          <th>Physician Name</th>
          <th>Patient Name</th>
      </tr>
      <tr>
        <td class="editable-cell " data-attribute="start_date" data-id1="<%= appointment.id %>", data-id2="<%= patient.id%>", data-physician_id="<%= appointment.physician.id %>" > <%= appointment.start_date %></td>
        <td class="editable-cell" data-attribute="end_date" data-id1="<%= appointment.id %>", data-id2="<%= patient.id%>", data-physician_id="<%= appointment.physician.id %>" > <%= appointment.end_date %></td>
        <td class="editable-cell"data-attribute="physician_name" data-id1="<%= appointment.id %>", data-id2="<%= patient.id%>", data-physician_id="<%= appointment.physician.id %>" ><%= appointment.physician.name if appointment.physician.present? %></td>
        
        <td class="editable-cell" data-attribute="patient_name" data-id1="<%= appointment.id %>", data-id2="<%= patient.id%>", data-physician_id="<%= appointment.physician.id %>" > <%= appointment.patient.name if appointment.patient.present? %></td>
        <td>
          <%#= link_to "Edit Patient", edit_patient_appointment_path(patient.id, appointment.id), remote: true, class: "btn btn-dark" %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="stage_dropdown"></div>
        </td>
      </tr>
    <% end %>
  <% end %>
      </tbody>
 </table>
      
    <div  id="patient-form"></div>
      <h1>add a appointment :</h1>

  <%= form_with model:[patient, Appointment.new ], local: false do |form| %>
      <div class="dropdown">
          <p>
            <%= form.label :start_date %><br>
            <%= form.text_field  :start_date ,class: "form-control wid"%>
          </p>
      </div>
      <div class="dropdown">
        <p>
          <%= form.label :end_date %><br>
          <%= form.text_field  :end_date,class: "form-control  wid" %>
        </p>
      </div>
        <p>
          <%= form.fields_for :physician, Physician.new do |ph| %>
            <div class="form-group mt-3">
                <%= ph.label :physician_name %>
                <%= ph.text_field :name,class: "form-control wid" %><br>
            </div>
          <% end %>
        <p>
        <p>
          <%= form.fields_for :patient, Patient.new do |ph| %>
            <div class="form-group mt-3">
                <%= ph.label :patient_name %>
                <%= ph.text_field :name,class: "form-control wid" %><br>
            </div>
          <% end %>
        <p>
          <%= form.submit class:"btn btn-secondary dropdown-toggle" %>
        </p>
      <% end %>
  <% end %>



<div><%#= render "patients/patient" ,local: {patient: @patient} %></div>
<%= link_to " new patient" ,new_patient_path, remote: :true ,class:"btn btn-dark"%>
</center>
</div>
<script  type="module">

 $(function() {
  $(document).ready(function() {
    $(document).on('click', '.editable-cell', function() {
      var $cell = $(this);
      var originalContent = $cell.text();

      $cell.html('<input type="text" value="' + originalContent + '">');
      var $input = $cell.find('input');
      $input.focus();

      var ids = {
        id1: $cell.data('id1'),
        id2: $cell.data('id2'),
        physician_id: $cell.data('physician_id')
      };

      var attribute = $cell.data('attribute');

      $input.on('keydown', function(event) {
        if (event.keyCode === 13) { 
          event.preventDefault();
          var newContent = $input.val();
          var updateData = {};
            if (attribute === 'start_date' || attribute === 'end_date') {
              updateData[attribute] = newContent;
            } else if (attribute === 'physician_name') {
              updateData.physician = newContent;
            } else if (attribute === 'patient_name') {
              updateData.patient = newContent;
            }
                
          var ajaxData = {
            url: '/patients/' + ids.id2 + '/appointments/' + ids.id1,
            method: 'PATCH',
            data: { 
              appointment: updateData,
              physician_id: ids.physician_id,
              attr: attribute
            },
            dataType: 'json',
            success: function(response) {
              $cell.html(newContent);
            },
          };

          $.ajax(ajaxData);
        }
      });
    });
  });
 });



</script>



<style>
.w{
 width: 100%;
}
.wid{
  width: 25%;
}.p{

padding: 0.5rem rem;

}
</style>